.maincontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-top: 1rem;
  }
  
  .carcatalog {
    padding: 1rem;
    text-align: center;
    width: 50%;
    /* margin-top: 1rem; */
  }
  
  .heading {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: left;
  }
  
  .text {
    font-size: 1.1rem;
    text-align: left;
    color: grey;
  }
  
  .dropdowncontainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    z-index: 1;
   
    /* width: 50%; */
  }
  
  .dropdownbutton {
    position: relative;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    /* background-color: #f1f1f1; */
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 2.5rem;

  }
  
  .dropdownmenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    width: 200px;
    box-shadow: -1px 4px 123px -49px rgba(41,15,207,0.67);
    -webkit-box-shadow: -1px 4px 123px -49px rgba(41,15,207,0.67);
    -moz-box-shadow: -1px 4px 123px -49px rgba(41,15,207,0.67);
  }
  

  .dropdownbutton:hover .dropdownmenu {
    display: block;
    
  }
  
  .dropdownmenu label {
    display: flex;
    flex-direction:row ;
    gap:10px;
    margin-bottom: 0.25rem;
    width: 100%;
    font-size: 1rem;
   


  }
  .custom{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 2rem;
  }
  .notify{
    height: 1.5rem;
    width: 1.5rem;
    background-color: #F59660;
    border-radius: 50%;
    padding: 0.1rem;
    color: white;
  }
  .notifyNum{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  